.channelList {
    /* display: flex;
    flex-direction: row; */
    display: block;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: start;
    margin: 0;
}
.card {
    display: block;
    /* left: 100px; */
    ;
}   

.cardBody {
    /* display: flex; */
    justify-content: end;
}

.channelName {
    display: flex;
    text-align: end;
}

li {
    list-style: none;
    display: inline ;
    height: 125px;
    /* width: 40%; */
}

.reloadIcon {
    cursor: pointer;
}